@import 'compass/css3';

// Feedback message container, displayed when any error or success message are to be displayed
.feedback {
  text-align: center;
  height: 0;

  .feedback-content {
    display: inline-block;
  }

  .alert {
    position: relative;
    cursor: pointer;
    margin-bottom: 0;

    @include border-top-radius(0px);
    @include box-shadow(rgba(0, 0, 0, 0.5) 0 4px 15px -5px);

    .close {
      position: absolute;
      right: 10px;
      top: 5px;
    }

    &:hover .close {
      color: black;

      @include opacity(0.4);
    }
  }
}