@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

.multi-select {
  .multi-select-icon {
    display: inline-block;
    width: 16px;
    height: 16px;

    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0.6;
  }

  .multi-select-title {
    background-color: #f4f4f4;
    height: 28px;
    padding-left: 12px;

    h4 {
      line-height: 28px;
    }
  }

  .multi-select-actions {
    position: relative;
    background-color: #f4f4f4;
    margin-top: 1px;
    padding: 0 12px;
    height: 40px;

    .multi-select-search {
      margin-top: 6px;
      position: relative;
      display: inline-block;

      .clear-search {
        position: absolute;
        top: 2px;
        right: 5px;
        z-index: 3;
        float: none;
      }

      input {
        width: 280px;
        padding-right: 18px;
      }
    }

    .multi-select-all-button {
      position: absolute;
      top: 9px;
      right: 10px;
      text-transform: lowercase;
      padding: 2px 21px 2px 2px;
      width: 40px;
      font-size: 11px;

      .multi-select-icon { top: 1px; }

      &:hover .multi-select-icon { opacity: 1; }
    }
  }

  .available {
    width: 50%;
    float: left;

    .multi-select-title {
      margin-right: 7px;
    }

    .multi-select-actions {
      margin-right: 7px;
    }

    .multi-select-icon {
      background-image: image-url("common_components/add.png");
    }
  }

  .selected {
    width: 50%;
    float: left;

    .multi-select-title {
      margin-left: 7px;
    }

    .multi-select-actions {
      margin-left: 7px;
    }

    ul {
      margin-left: 7px;
      margin-right: 0;
    }

    li:hover {
      background-color: #fdeeee;
    }

    .multi-select-icon {
      background-image: image-url("common_components/remove.png");
    }
  }

  ul {
    list-style-type: none;
    margin: 3px 7px 8px 0px;
    padding-right: 5px;
    height: 300px;
    overflow-y: auto;

    &.loading li { display: none; }
  }

  li {
    cursor: pointer;
    position: relative;

    color: #666;
    padding: 0px 26px 0 12px;
    border-bottom: 1px solid #E4F0F0;
    text-transform: uppercase;

    &:hover {
      background-color: #e3fbe1;

      label { color: #000; }
      .multi-select-icon { opacity: 1; }
    }

    &.no-items-message {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;

      &:hover {
        background-color: inherit;
        cursor: inherit;

        label { color: inherit; }
      }
    }

    &:last-child { border-bottom-width: 0; }

    label {
      padding: 4px 0;
      margin: 0;
      font-size: 12px;
      float: none;
      width: auto;
      cursor: pointer;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;
      display: block;

      .multi-select-icon {
        width: 26px;
        right: 0;
        top: 0;
        bottom: 0;
        height: auto;
        background: transparent none no-repeat center 5px;
      }
    }
  }
}

.dark-multi-select {
  .multi-select-content {
    background-color: #f4f4f4;
    padding: 4px 12px 12px;

    ul {
      background-color: #fdfdfd;
      margin: 0;
      padding: 3px 0 8px;
      height: 200px;

      border: 1px solid #eee;
      border: 1px solid rgba(0, 0, 0, 0.05);
      @include border-radius(4px);
      @include box-shadow(rgba(0, 0, 0, 0.05) 0 1px 1px inset);

      li {
        margin: 0px 20px 0 8px;
      }
    }
  }

  .available {
    .multi-select-title {
      margin-right: 0;
    }

    .multi-select-actions {
      margin-right: 0;
    }
  }

  .selected {
    .multi-select-title {
      background-color: #F0F0F0;
      margin-left: 0;
    }

    .multi-select-actions {
      background-color: #F0F0F0;
      margin-left: 0;
    }

    .multi-select-content {
      background-color: #f0f0f0;
    }
  }
}
