<script type="text/html">
  {{^items}}
    <li class="no-items-message"><%=raw message %></li>
  {{/items}}
  {{#items}}
    <li title="{{label}}" data-value="{{value}}">
      <label class="inline">
        {{{truncated_label}}}
        <i class="multi-select-fade-out"></i>
        <i class="multi-select-icon"></i>
      </label>
    </li>
  {{/items}}
</script>
