<div class="multi-select-search input-prepend">
  <span class="add-on"><i class="icon-search"></i></span>
  <%= text_field_tag "search", nil, placeholder: search_placeholder %>
  <a class="close clear-search hide" href="#">&times;</a>
</div>
