<div class="feedback">
  <div class="feedback-content">
  <% if flash[:alert].present? %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" aria-hidden="true"><i class="icon icon-times"></i></button>
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if flash[:notice].present? %>
    <div class="alert alert-dismissable alert-success">
      <button type="button" class="close" aria-hidden="true"><i class="icon icon-times"></i></button>
      <%= flash[:notice] %>
    </div>
  <% end %>
  </div>

  <script type="text/html">
    <div class="alert alert-dismissable {{message_type}}">
      <button type="button" class="close" aria-hidden="true"><i class="icon icon-times"></i></button>
      {{{message}}}
    </div>
  </script>
</div>
