<!DOCTYPE html>
<html>
<head>
  <title>DTM UI components</title>
  <%= stylesheet_link_tag    "dui/application", :media => "all" %>
  <%= javascript_include_tag "dui/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
