$order-icon-color: #333;
$order-icon-size: 5px;

th[data-order] {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &.selected {
    &:after {
      content: '';
      position: relative;
      display: inline-block;
      margin-left: 5px;
      width: 0;
      height: 0;
      border-top: $order-icon-size solid $order-icon-color;
      border-bottom: $order-icon-size solid $order-icon-color;
      border-left: $order-icon-size solid transparent;
      border-right: $order-icon-size solid transparent;
    }

    &.asc {
      &:after {
        border-top-color: transparent;
        top: -$order-icon-size / 2;
      }
    }

    &.desc {
      &:after {
        border-bottom-color: transparent;
        top: $order-icon-size / 2;
      }
    }
  }
}
