@import "dui/mixins";

.normal-overlay {
  position: relative;

  @include overlay-before;
}

.loading-overlay {
  position: relative;

  @include overlay-before;
  @include loading-after;

  &.fixed-overlay {
    &:before, &:after {
      position: fixed;
    }
  }
}
