/*
 * A set of mixins to implement common patterns of components.
 */

@import "compass/css3/transition";

$default-fade-duration: 0.2s;
$default-fade-transition-function: ease;

$default-overlay-background-color: rgba(255, 255, 255, 0.6);
$default-overlay-z-index: 100;

@mixin ellipsis-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin fade-out($duration: $default-fade-duration, $transition-function: $default-fade-transition-function) {
  visibility: hidden;
  opacity: 0;

  @include transition(visibility $duration $transition-function, opacity $duration $transition-function);
}

@mixin fade-in {
  visibility: visible;
  opacity: 1;
}

@mixin overlay-before(
    $background-color: $default-overlay-background-color,
    $z-index: $default-overlay-z-index,
    $fade-duration: $default-fade-duration,
    $fade-transition-function: $default-fade-transition-function
  ) {

  &:before, .overlay-background {
    content: "";

    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-index;

    display: block;

    @include fade-out($fade-duration, $fade-transition-function);

    background-color: $background-color;
  }

  &.active-overlay {
    &:before, .overlay-background {
      @include fade-in;
    }
  }
}

@mixin loading-after(
    $z-index: $default-overlay-z-index,
    $fade-duration: $default-fade-duration,
    $fade-transition-function: $default-fade-transition-function
  ) {

  &:after {
    content: "\f110";

    position: absolute;

    top: 50%;
    left: 50%;
    font-size: 200%;

    width: 23px;
    height: 26px;

    margin: -13px 0 0 -11px;

    color: #57645f;

    z-index: $z-index;

    @include font-awesome-element;
    @include animation(spin 2s infinite linear);
    @include fade-out($fade-duration, $fade-transition-function);
  }

  &.active-overlay {
    &:after {
      @include fade-in;
    }
  }
}

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-awesome-element {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  @include font-smoothing;
}

@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -o-animation: $value;
  animation: $value;
}


