/**
 *= require dui/icons
 *= require_self
 */

@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";

$buttonWidth: 100px;
$uploaderHeight: 44px;
$detailsPaddingLeft: 15px;
$detailsPaddingRight: 30px;

@mixin text-overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin fade-out {
  @include transition(visibility 0.2s ease-out, opacity 0.2s ease-out);
  visibility: hidden;
  opacity: 0;
}

@mixin fade-in {
  @include transition(visibility 0.2s ease-out, opacity 0.2s ease-out);
  visibility: visible;
  opacity: 1;
}

.uploader {
  position: relative;
  overflow: hidden;

  .uploader-button-container {
    position: absolute;
    top: 0;
    left: 0;
    width: $buttonWidth;
    height: $uploaderHeight;
    z-index: 2;

    .btn {
      width: 100%;
      height: 100%;

      @include border-radius(4px 0 0 4px);
    }
  }

  .uploader-progress {
    margin-left: $buttonWidth;
    height: $uploaderHeight;

    .progress {
      margin: 0;
      height: $uploaderHeight;

      @include border-radius(0 4px 4px 0);

      @include background(linear-gradient(#e0e0e0, #eaeaea))
    }
  }

  .uploader-details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: $buttonWidth;
    right: 0;
    padding: 6px $detailsPaddingRight 6px $detailsPaddingLeft;

    font-size: 14px;
    line-height: 15px;
    color: #fff;
    @include text-shadow(rgba(0, 0, 0, 0.8) 1px 1px 2px);
    @include box-sizing(border-box);

    .uploader-filename {
      display: none;
      height: 18px;

      color: #fff;

      @include text-overflow-ellipsis;

      &:hover {
        text-decoration: none;
        cursor: default;
      }
    }

    .uploader-text-progress, .uploader-message {
      font-size: 11px;
      position: absolute;
      left: $detailsPaddingLeft;
      right: $detailsPaddingRight;

      @include text-overflow-ellipsis;
    }

    .uploader-remove-file {
      position: absolute;
      right: 0px;
      top: 50%;
      margin-top: -9px;
      text-align: center;
      width: 30px;

      .dui-icon-remove {
        @include opacity(0.6);
        @include transition(opacity 0.3s ease);
      }

      &:hover .dui-icon-remove {
        @include opacity(1);
      }
    }

    .uploader-text-progress, .uploader-remove-file {
      @include fade-out;
    }

    .uploader-percentual, .uploader-loaded-size, .uploader-total-size {
      display: none;
    }

    .uploader-message {
      visibility: visible;
      opacity: 1;
      color: #777;
      font-size: 14px;
      top: 50%;
      margin-top: -7px;
      @include text-shadow(#fff 0px 1px 0);
      @include fade-in;
    }
  }

  &.uploader-existing, &.uploader-started, &.uploader-done, &.uploader-finished, &.uploader-failed {
    .uploader-filename {
      display: block;
    }

    .bar {
      display: block;
    }
  }

  &.uploader-started, &.uploader-done, &.uploader-finished, &.uploader-existing {
    .uploader-text-progress, .uploader-remove-file {
      @include fade-in;
    }

    .uploader-message {
      @include fade-out;
    }

    .bar {
      @include transition(width 0.6s ease);
    }
  }

  &.uploader-finished, &.uploader-existing {
    .bar {
      background-color: #5eb95e;
      @include background(linear-gradient(to bottom, #62c462, #57a957));
    }

    .uploader-filename:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    .uploader-total-size {
      display: inline;
    }
  }

  &.uploader-started, &.uploader-done {
    .uploader-button-container .btn {
      cursor: default;
      background-image: none;
      background-color: #e6e6e6;
      @include opacity(0.65);
      @include box-shadow(none);
    }

    .dui-icon-remove {
      background-position: -18px 0;
    }

    .uploader-percentual, .uploader-loaded-size, .uploader-total-size {
      display: inline;
    }
  }

  &.uploader-existing {
    .bar {
      width: 100%;
    }
  }

  &.uploader-failed {
    .bar {
      width: 100%;
      background-color: #dd514c;
      @include background(linear-gradient(to bottom, #ee5f5b, #c43c35));
    }

    .uploader-message {
      visibility: visible;
      opacity: 1;
      top: auto;
      font-size: 11px;
      color: inherit;
      margin-top: inherit;
      @include text-shadow(inherit);
    }
  }

  .progress-striped .bar {
    background-size: $uploaderHeight $uploaderHeight;
  }

  [data-uploader-after]:after {
    content: ' ' attr(data-uploader-after);
  }

  input[type=file] {
    display: none;
  }
}
