<!DOCTYPE html>
<html>
<head>
  <title>CommonComponents</title>
  <%= stylesheet_link_tag    "common_components/application", :media => "all" %>
  <%= javascript_include_tag "common_components/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
