<script type="text/html" data-template-name="multi-select-empty-item">
  <span><%=raw message %></span>
</script>

<script type="text/html" data-template-name="multi-select-item">
  <label>
    {{{truncated_label}}}
  </label>
</script>
